a.button-top.fixed-element.js-button-top(href="#")
  img(src=imgCommonPC+"arrow_top.svg" width="30" height="17" loading="lazy" alt="Lên đầu trang")
.button-footer-common
  a.button-phone.sm(href="tel:1900 2663")
    .button-wrapper
      img.object-common(src=imgCommonPC+"icon_phone.svg" width="28" height="28" loading="eager" alt="Phone")
  span.button-cta.sm.js-open-popup
    .button-wrapper
      img.object-common(src=imgCommonPC+"icon_doc.svg" width="52" height="45" loading="eager" alt="liên hệ")
      span Tư vấn
  a.button-360(href="#" target="_blank")
    .button-wrapper
      img.object-common(src=imgCommonPC+"360_icon.svg" width="52" height="45" loading="eager" alt="Message")
  a.button-chat(href="#" target="_blank")
    .button-wrapper
      img.object-common(src=imgCommonPC+"message_icon.svg" width="56" height="56" loading="eager" alt="Message")
