header.header-common
  .wrapper
    .header-inner
      .header-left
        .header-hamburger.js-click
          .hamburger-menu.on
            .menu-icon
              img.image-common(src=imgCommonPC+"header_logo_02.svg" width="45" height="16" loading="eager" alt="Open")
            span MENU
          .hamburger-menu.off
            .menu-icon
              img.image-common(src=imgCommonPC+"header_logo_03.svg" width="40" height="40" loading="eager" alt="Close")
            span ĐÓNG
        .header-lang(data-url="#")
          span VN
          svg(width="14", height="8", viewBox="0 0 14 8", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(fill="#fff" fill-rule="evenodd", d="m13.9 1.2l-6.7 6.7c-0.1 0.1-0.3 0.1-0.3 0l-6.8-6.7q-0.1-0.2 0-0.3l0.8-0.9 6 5.9c0 0.1 0.2 0.1 0.3 0l5.8-5.9 0.9 0.9q0.1 0.1 0 0.3z")
      a#logo-primary.header-logo(href="#")
        img.image-common.is-normal(src=imgCommonPC+"header_logo.svg" width="153" height="90" loading="eager" alt="THE EMERALD RIVER PARK")
      .header-right
        a.header-phone(href="#")
          span.header-icon.is-phone
          span 19002663
        span.header-cta.js-open-popup
          span.header-icon.is-cta
          span tư vấn
    .header-common-navigation
      .navigation-wrapper
        nav.navigation-menu
          .menu-heading
            .heading-logo
              img.object-common(src=imgCommonPC+"header_logo.svg" width="" height="" loading="eager" alt="THE EMERALD RIVER PARK")
          .menu-wrapper
            ul.menu.main-menu.header-menu
              li.menu-item.menu-link
                a.link-wrapper.item-link.trans(href="#section-home")
                  span.item-link-text trang chủ
              li.menu-item.menu-link
                a.link-wrapper.item-link.trans(href="#section-introduction")
                  span.item-link-text Giới thiệu
              li.menu-item.menu-link
                a.link-wrapper.item-link.trans(href="#section-location")
                  span.item-link-text Vị trí
              li.menu-item.menu-link
                a.link-wrapper.item-link.trans(href="#section-gallery")
                  span.item-link-text Mặt bằng
            ul.menu.main-menu.header-menu
              li.menu-item.menu-link
                a.link-wrapper.item-link.trans(href="#section-recruitment")
                  span.item-link-text Tiện ích
              li.menu-item.menu-link
                a.link-wrapper.item-link.trans(href="#section-news")
                  span.item-link-text Thư viện
              li.menu-item.menu-link
                a.link-wrapper.item-link.trans(href="#section-news")
                  span.item-link-text Tin tức
              li.menu-item.menu-link
                a.link-wrapper.item-link.trans(href="#section-contact")
                  span.item-link-text Liên hệ
          ul.menu-socials-list
            li.list-item
              a.item-wrapper.trans(href="#" target="_blank" rel="noopener")
                img.object-common(src=imgCommonPC+"social_icon_01.svg" width="67" height="67" loading="lazy" alt="Facebook")
            li.list-item
              a.item-wrapper.trans(href="#" target="_blank" rel="noopener")
                img.object-common(src=imgCommonPC+"social_icon_02.svg" width="67" height="67" loading="lazy" alt="Youtube")
            li.list-item
              a.item-wrapper.trans(href="#" target="_blank" rel="noopener")
                img.object-common(src=imgCommonPC+"social_icon_03.svg" width="67" height="67" loading="lazy" alt="Tiktok")
      .overlay-menu

  //- Popup
  #popup-consult.popup-overlay
    .popup-wrapper
      span.popup-close
        svg(viewBox="0 0 40 40", width="40", height="40")
          path(fill="#fff", d="m39.7 2c0.4-0.5 0.4-1.2 0-1.6-0.5-0.4-1.2-0.4-1.6 0l-11.4 11.6c-3.7 3.7-9.7 3.7-13.4 0l-11.4-11.6c-0.4-0.4-1.1-0.4-1.6 0-0.4 0.4-0.4 1.1 0 1.6l11.4 11.5c3.7 3.8 3.7 9.8 0 13.6l-10.9 11.1c-0.5 0.4-0.5 1.1 0 1.5 0.4 0.5 1.1 0.5 1.5 0l11-11.1c3.7-3.7 9.7-3.7 13.4 0l11 11.1c0.4 0.5 1.1 0.5 1.5 0 0.5-0.4 0.5-1.1 0-1.5l-10.9-11.1c-3.7-3.8-3.7-9.8 0-13.6z")
      .popup-body
        .popup-image
          picture
            source(
              media="(max-width: 767.98px)"
              srcset=imgCommonPC+"header_bg_sp.jpg"
            )
            source(
              media="(min-width: 768px)"
              srcset=imgCommonPC+"header_bg.jpg"
            )
            img(src=imgCommonPC+"header_bg.jpg" width="1600" height="700" loading="eager" alt="Chất sống tuyệt đỉnh bên sông")
        .popup-content
          h2.popup-title ĐĂNG KÝ TƯ VẤN
          form.contact-form(action="" method="post")
            .form-group
              .group-input
                input.input-common(type="text" name="your-name" placeholder="Họ tên *" required)
              .group-input
                input.input-common(type="tel" name="your-phone" placeholder="Điện thoại *" required)
            .form-group
              input.input-common(type="email" name="your-email" placeholder="EMAIL")
            .form-group
              textarea.textarea-common(name="your-message" placeholder="LỜI NHẮN")
            .form-controller
              button.button-contact(type="submit")
                span GỬI ĐĂNG KÝ